body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

#pair-info {
    width: 600px;
    align-items: left;
    margin-bottom: 30px;
    margin-left: 100px;
}

#chart-container {
    width: 600px;
    height: 400px;
    padding-bottom: 30px;
}

.custom-tooltip {
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
}